<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <head>
        <Title>Totally Cool Python Website</Title>
    </head>
    <body>

    <!-- This is top navigation bar -->
    <div class="topnav">
        <div class="leftaligned">
        <a class="active" href="/">Home</a>
        <a href="/about">About F1</a>
        <a href="/championships">The Championships</a>
        <a href="/participants">Participants</a>
        </div>

        <div class="rightaligned">

        <!-- This block is for displaying profile instead of login/signup-->
        {% if session['logged_in'] %}
        <a href="/profile">Profile</a>

        {% else %}
        <a href="/signup">Signup</a>
        <a href="/login">Login</a>

        {% endif %}

        <p>Today is {{datetime}}</p>
        </div>
    </div>

    <!-- This block is for alert handling-->
    {% if get_flashed_messages()|length > 0 %}
    <hr>
    {% endif %}

    {% for msg in get_flashed_messages() %}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        {{msg}}
    </div>
    {% endfor %}

    <!--Beginning of actual content-->
    <div class="content">
        <div>
            <h1>A website for newcomers to Formula 1 (F1)</h1>
            <a href="/redirect/f1" target="_blank">Official F1 site</a>
        </div>

        <div>
        <h3>What is F1?</h3>
        <p>Formula 1 is the pinnacle of motorsport. Unlike other series (like Indycar, Nascar, or Forumla 2),
        F1 is not a spec series - every car is different, and they are developed to suit each teams' drivers'
        bodies and driving style. The <a href="/redirect/fia" target="_blank">FIA</a> - F1's governing body - sets technical
        rules and regulations for car development. Within those rules, teams are allowed to modify their cars to
        make them faster, or more reliable. Ideally, they try to do both.<br>
        </p>
        </div>

        <div>
        <h3>What's at stake?</h3>
        <p>The Formula 1 World Championship. Actually there are two championships at play each season:
            the World Drivers' Championship, and the World Constructors' Championship<br>
        </p>
        </div>

        <div>
        <h3>Who participates?</h3>
            <p>
            Racing in F1 is not for everyone. The amount of resources a team needs, and the skill level drivers
            need make it a highly exclusive club to join. Only 10 teams are currently racing in F1 (as of {{simple_date}})
            and they get to vote on whether another team is allowed to enter.<br>
            Each team is allowed two drivers on track at any given time, be it practice sessions, qualifying, or the
            Grand Prix. Most teams employ no more than three drivers: two main drivers, and a reserve/testing driver
            who sometimes travels with the team, and sometimes stays in the factory testing upgrades and setups in the simulator (yeah, really cool stuff)<br>
            </p>
        </div>

        <div>
        <h3>Key concepts</h3>
        <ul>
            <li>
                <u>Grand Prix</u>: the main event of every race weekend. Takes place on Sundays, mostly in the afternoon, sometimes
                in the evening. The number of laps is dictated by length of the track: the total race distance must be at least
                300km, so the lap count will be the minimum number required to reach that, plus one lap. Monaco is the exception.<br>
            </li>
            <li>
                <u>Sprint</u>: a short race held on several occasions per season. Sprint races must be 100km in length, and the
                lap count is calculated the same way it is for the Grand Prix. Sprints take place on saturdays.<br>
            </li>

            <li>
                <u>Downforce</u>: the opposite of lift, downforce is generated by the wings, floor and bodywork of the car when
                travelling at high speed. It helps the car stick to the track, allowing to take corners at great speed. It also
                causes the cars to generate up to 5G of lateral forces, comparable to those experienced by fighter jet pilots.<br>
            </li>

            <li>
                <u>Drag</u>: when going in a straight line, drag is the air pulling back on the car and slowing it down. It's directly
                correlated to downforce: the more downforce you generate, the more draggy the car is. Teams will try to fine tune the
                car setup for each track during Free Practice sessions in order to maximize performance in the corners without being too
                slow in the straights.<br>
            </li>

            <li>
                <u>Car setup</u>: the combination of front wing angle, rear wing angle, ride height, suspension stiffness, wheel camber and toe, and
                suspension geometry, among other things. The perfect balance should make the car drivable in slow, medium, and high speed, fast
                in the corners and in a straight line, and minimize lap times and by extension race time. Fuel load is also a factor.<br>
            </li>

            <li>
                <u>Dirty air/Slipstream</u>: when following a car in a straight line, slipstream is the gap behind the leading car where there
                is less air, having been pushed out by the wings and bodywork. Chasing cars in the slipstream gain a top-speed advantage.<br>
                The opposite is true when following through corners: less air in front of you means you don't generate the required downforce
                to keep the speed through the corner, thus you are slower.<br>
            </li>

            <li>
                <u>DRS - Drag Reduction System</u>: because following can be tough with dirty air, chasing cars less than 1 second behind can use
                a system in the rear wing to reduce drag in the straights. Throughout each track there are DRS detection points - some grant DRS
                over multiple zones. When a driver crosses them 1 second or less behind another car, they can press a button
                in their steering wheel that opens a gap in the rear wing. This reduces drag and grants a top-speed advantage. DRS
                automatically shuts off when pressing the brakes.<br>
            </li>

            <li>
                <u>Tyres</u>: F1 works with Pirelli to deliver 6 compounds of tyre in varying degrees of softness. The softer a tyre compound,
                the faster but less durable they are. The harder the tyre compound, the slower but more durable they are. Each race weekend,
                Pirelli selects three compounds that will be available to the teams. Of these three, every driver is required to use two over the
                duration of a Grand Prix, forcing them to stop. This does not apply to races where wet-weather tyres are in use: if rain is present,
                they are not required to stop.<br>
            </li>

            <li>
                <u>Race strategy</u>: F1 cars cannot hold enough fuel to run flat out the entire race, and they are also not allowed
                to refuel during the race. So drivers will often drive slower on purpose to save fuel and make it to the end. Likewise,
                they don't want to make more pit stops than necessary. So they go slower to manage tyre temperatures and degradation. But for
                some teams, pitting more often and using the extra grip, or taking a gamble with a safety car, might be worth it. Teams will
                devise several possible race strategies ahead of the race to account for all possibilities, and will execute them as needed.<br>
            </li>

            <li>
                <u>Safety Car/VSC</u>: if there's an incident on track, be it a car crash, cars retiring, debris, or un-drivable conditions, a Safety
                Car or Virtual Safety Car may be deployed. The Safety Car will go around and wait for the leader. Until then, drivers must slow down
                and be prepared to stop. Once it has picked up the leaders, all drivers must queue up behind. Lapped cars may be allowed to overtake
                when the incident is cleared, and will (almost always) be waited on before restarting the race. VSCs are similar with the exception
                of backing up the pack: it doesn't. The VSC is a time to which drivers must adhere, about 40% of full speed. This maintains the gaps
                between drivers and can be deployed and recalled instantly.<br>
            </li>

            <li>
                <u>Delta</u>: used to refer to the time difference between two times. Normally, drivers will see their delta between
                their fastest lap and their current lap. Sometimes they prefer the last lap and the current lap. During VSC periods,
                they'll use the VSC time, but in this case they'll want their delta to be positive (losing time) but as close to 0 as
                they can get it.<br>
            </li>
        </ul>
    </div>
    </div>
    </body>
</html>